<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.springboot.dao.RoleMapper">

 	<resultMap id="BaseResultMap" type="com.cn.springboot.model.Role" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="role_sign" property="roleSign" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,role_name,role_sign,description
	</sql>

	<select id="selectRoleById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from role
		 where id= #{id}
	</select>

	<delete id="deleteRoleById" >
		delete from role
		 where id= #{id}
	</delete>

	<update id="updateRoleById" >
		update role 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findRoleList" parameterType="com.cn.springboot.model.Role" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from role
		where 
		is_delete=0
		<include refid="select_option" />
	</select>

	<insert id="insertRole" parameterType="com.cn.springboot.model.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="roleName != null">
				role_name,
			</if>
			<if test="roleSign != null">
				role_sign,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
			<if test="roleSign != null">
				#{roleSign,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="roleName != null">
			role_name= #{roleName,jdbcType=VARCHAR},
		</if>
		<if test="roleSign != null">
			role_sign= #{roleSign,jdbcType=VARCHAR},
		</if>
		<if test="description != null">
			description= #{description,jdbcType=VARCHAR},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=BIGINT}
		</if>
		<if test="roleName != null">
			 and role_name= #{roleName,jdbcType=VARCHAR}
		</if>
		<if test="roleSign != null">
			 and role_sign= #{roleSign,jdbcType=VARCHAR}
		</if>
		<if test="description != null">
			 and description= #{description,jdbcType=VARCHAR}
		</if>
	</sql>

</mapper>