<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.PermissionMapper">

 	<resultMap id="BaseResultMap" type="com.cn.model.Permission" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
		<result column="permission_sign" property="permissionSign" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,permission_name,permission_sign,description
	</sql>

	<select id="selectPermissionById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from permission
		 where id= #{id}
	</select>

	<delete id="deletePermissionById" >
		delete from permission
		 where id= #{id}
	</delete>

	<update id="updatePermissionById" >
		update permission 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findPermissionList" parameterType="com.cn.model.Permission" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from permission
		where 
1=1		<include refid="select_option" />
	</select>

	<insert id="insertPermission" parameterType="com.cn.model.Permission">
		insert into permission
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="permissionName != null">
				permission_name,
			</if>
			<if test="permissionSign != null">
				permission_sign,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="permissionName != null">
				#{permissionName,jdbcType=VARCHAR},
			</if>
			<if test="permissionSign != null">
				#{permissionSign,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="permissionName != null">
			permission_name= #{permissionName,jdbcType=VARCHAR},
		</if>
		<if test="permissionSign != null">
			permission_sign= #{permissionSign,jdbcType=VARCHAR},
		</if>
		<if test="description != null">
			description= #{description,jdbcType=VARCHAR},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=BIGINT}
		</if>
		<if test="permissionName != null">
			 and permission_name= #{permissionName,jdbcType=VARCHAR}
		</if>
		<if test="permissionSign != null">
			 and permission_sign= #{permissionSign,jdbcType=VARCHAR}
		</if>
		<if test="description != null">
			 and description= #{description,jdbcType=VARCHAR}
		</if>
	</sql>

</mapper>